body {
    margin: 0px;
}

header {
    height: 250px;
    width: 100%;
    background-color: RGB(82, 94, 167);
}


.information {
    max-width: 900px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    padding-top: 50px;
    color: rgb(255, 255, 255);

}

.fio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    padding-left: 30px;
}

#fio {
    margin: -10px 0;
    font-size: 28pt;
    font-family: 'Montserrat', sans-serif;
}

#prof {
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

#foto {
    border-radius: 100px;
}


ul {
    list-style: none;

}

.adress ul li:nth-child(1) {
    background: url(img/map.png) no-repeat 0 2px;
    padding: 0 0 4px 30px;
    margin-bottom: 1em;
}

.adress ul li:nth-child(2) {
    background: url(img/glob.png) no-repeat 0 2px;
    padding: 0 0 4px 30px;

    margin-bottom: 1em;
}

.adress ul li:nth-child(3) {
    background: url(img/phone.png) no-repeat 0 2px;
    padding: 0 0 4px 30px;
    margin-bottom: 1em;
}


.adress {
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

.container {
    max-width: 900px;
    display: flex;
    justify-content: center;
    margin: 40px auto;
    gap: 70px;

}

.left-colomn {
    font-family: 'Open Sans', sans-serif;
    flex: 1;
    font-size: 11pt;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.right-colomn {
    font-family: 'Open Sans', sans-serif;
    flex: 2;
    font-size: 11pt;
}

.profile-info-header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    gap: 20px;
    font-size: 16pt;
}

.work-experience-header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    gap: 30px;
    font-size: 16pt;
}



.work-experience-discription {
    display: flex;
    margin-left: 70px;
    flex-wrap: wrap;
    gap: 80px;
}

.present {
    flex: 1;
}

.discription {
    flex: 2;
}

.img-interests {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.interest {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-color {
    color: rgb(82, 94, 167);
    font-weight: bold;
}