body {
    margin: 0px;
}

header {
    height: 250px;
    width: 100%;
    background-color: RGB(82, 94, 167);
}


.information {
    max-width: 900px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    padding-top: 50px;
    color: rgb(255, 255, 255);

}

.fio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    padding-left: 30px;
}

#fio {
    margin: -10px 0;
    font-size: 28pt;
    font-family: 'Montserrat', sans-serif;
}

#prof {
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

#foto {
    border-radius: 100px;
}


ul {
    list-style: none;

}

.adress ul li:nth-child(1) {
    background: url(img/map.png) no-repeat 0 2px;
    padding: 0 0 4px 30px;
    margin-bottom: 1em;
}

.adress ul li:nth-child(2) {
    background: url(img/glob.png) no-repeat 0 2px;
    padding: 0 0 4px 30px;

    margin-bottom: 1em;
}

.adress ul li:nth-child(3) {
    background: url(img/phone.png) no-repeat 0 2px;
    padding: 0 0 4px 30px;
    margin-bottom: 1em;
}


.adress {
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

.container {
    max-width: 900px;
    display: flex;
    justify-content: center;
    margin: 40px auto;
    gap: 70px;

}

.left-colomn {
    font-family: 'Open Sans', sans-serif;
    flex: 1;
    font-size: 11pt;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.right-colomn {
    font-family: 'Open Sans', sans-serif;
    flex: 2;
    font-size: 11pt;
}

.profile-info-header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    gap: 20px;
    font-size: 16pt;
}

.work-experience-header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    gap: 30px;
    font-size: 16pt;
}

.present-ref-colomn{
display: flex;
flex-direction: column;
margin-left: 35px;
}


.work-experience-discription {
    display: flex;
    margin-left: 70px;
    flex-wrap: wrap;
    gap: 80px;
}

.present {
    flex: 2;
}

.discription {
    flex: 3;
}

.img-interests {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.interest {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-color {
    color: rgb(82, 94, 167);
    font-weight: bold;
}

.user_interface{
    border-radius: 50%;
    background: rgb(255, 255, 255);
    
}

.user_interface_inside{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(230deg, transparent 50%, rgb(82, 94, 167) 50%), linear-gradient(295deg, rgb(82, 94, 167) 50%, transparent 50%);

}

.user_interface_inside2{
    position: absolute;
margin: 2px;
width: 76px;
height: 76px;
border-radius: 50%;
background: #ffffff;
}

.circles{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    justify-content: space-between;
    
margin-top: 20px;    
}

.web_design{
    border-radius: 50%;
    background: rgb(255, 255, 255);
}
.web_design_inside{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(215deg, transparent 50%, rgb(82, 94, 167) 50%), linear-gradient(300deg, rgb(82, 94, 167) 50%, transparent 50%);

}
.web_design_inside2{
    position: absolute;
    margin: 2px;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background: #ffffff;
}

.photoshop{
    border-radius: 50%;
    background: rgb(255, 255, 255);}

.photoshop_inside{  
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(180deg, transparent 50%, rgb(82, 94, 167) 50%), linear-gradient(275deg, rgb(82, 94, 167) 50%, transparent 50%);
}
.photoshop_inside2{ 
    position: absolute;
    margin: 2px;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background: #ffffff;}

    .user_experience{
        border-radius: 50%;
        background: rgb(255, 255, 255);
    }

.user_experience_inside{ 
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(235deg, transparent 50%, rgb(82, 94, 167) 50%), linear-gradient(295deg, rgb(82, 94, 167) 50%, transparent 50%);}

.user_experience_inside2{
     position: absolute;
    margin: 2px;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background: #ffffff;}

    .num{
        position: relative;
        top: 21px;
        left: 15px; 
        font-size: 18pt;
    }
    
.text{
    padding-left: 0px;
    text-align: center;
    margin-top: 10px;
}